= form_for @comment, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label 'Message', :class => 'control-label'
    .controls
      = f.text_area :text, class: 'text_field', style: "width:600px; height:120px"
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), comments_path, :class => 'btn'
