- model_class = PrayerRequest
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:_id) + ':'
  %br
  = @prayer_request._id
%p
  %strong= model_class.human_attribute_name(:request) + ':'
  %br
  = @prayer_request.request

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), prayer_requests_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_prayer_request_path(@prayer_request), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), prayer_request_path(@prayer_request), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
