%h1 Questions

%ul
  %li
    Many folks want to know how this happened. It was a tragic accident during a family vacation. The Thill family
    was very active and loves to be together. Please see the media coverage below for the details that are available.
    %ul
      %li= link_to "Fox News", "http://www.foxnews.com/us/2013/05/18/boy-6-kicked-by-pony-on-pennsylvania-farm-dies-police-say/"
      %li= link_to "ABC News", "http://abcnews.go.com/US/wireStory/police-boy-kicked-pony-pa-farm-dies-19208117#.UZgAdSvF0jU"
      %li= link_to "YDR.com", "http://www.ydr.com/ci_23262150/lancaster-county-boy-kicked-throat-by-pony-airlifted"

  %li
    %b Where should condolences be sent?
    %br
    %p
      Their home address is: 75 Westover Avenue, Joint Base Anacostia-Bolling, Washington DC 20032

  %li
    %b What about flowers?
    %p Right now, we don't know any other location than their home.
  %li
    %b Can we provide meals?
    %p
      Yes. Please go to
      = link_to "takethemameal.com", "http://takethemameal.com/"
      and enter
      %b
        Thill
      as the name of the recipient and use
      %b
        8316
      as the password.
  %li
    %b
      Where should we send gifts?
    %p
      The family requests gifts sent to the Ronald McDonald house in Grant's name.
      .row
        .span2
          %p.text-center
            = image_tag "ronald_mcdonald_house.jpg"
        .span10
          %p
            The mission of Ronald McDonald House Charities (RMHC) is to create, find and support programs that directly improve the health and well being of children. Guiding us in our mission are our core values:
            %ul
              %li Focusing on the critical needs of children.
              %li Celebrating the diversity of the programs we offer and the staff, volunteers and donors who make them possible.
              %li Staying true to our heritage of 38 years of responsible stewardship.
              %li Operating with accountability and transparency.
          %p
            = link_to "Donation Link", "https://donate.rmhc.org/SSLPage.aspx?pid=351", class: 'btn btn-primary'


%p
  If you have any other questions or any other information, please email tim@theboohers.org and I'll post it here asap.
